.sidebar {
  flex: 0.3;
  max-width: 25%;
  overflow-y: scroll;
  overflow: hidden;
}
.sidebar_header {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}
.sidebar_header:hover {
  opacity: 0.9;
  background-color: #3a3b3c;
  border-radius: 20px;
}
.sidebar_header > h4 {
  margin-left: 10px !important;
  font-weight: 500;
}
